.data-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.inline-block {
    display: inline-block;
}

.top-spacer {
    margin-top: 1rem;
}

.bottom-spacer {
    margin-bottom: 1rem;
}

.app-icon {
    margin-right: 0.5rem;
}

.app-goto-route-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
}

.app-action-icon {
    &:hover {
        cursor: pointer;
    }

    &.disabled {
        cursor: not-allowed;
    }
}