
@use '../../common//scss/utils.scss';

.day-books {
    height: 100%;
    overflow: hidden;
    display: flex;
    padding: 0 1rem;
    flex-direction: column;

    &__empty {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__action {
        @extend .top-spacer;
    }
}