.day-book {
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.app-header {
    border: 1px solid rgb(89, 88, 88);
    padding: 0.5rem;
    border-radius: 3px;

    h2 {
        margin: 0;
    }
}