// body * {
//   margin: 0;
//   padding: 0;
// }

@use './common/scss/utils.scss';

@import 'primeicons/primeicons.css';
        


body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow: hidden;

  box-sizing: border-box;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}